body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.clr {
    clear: both;
}

.icon {
    padding: 10px 0;

}
 .icons .icon img {
    width: 30px;
}

/* Header */
.header {
    background-image: url(../imgs/background-img.webp);
background-position: center center;
background-size: cover;
}
    
.header .container{
    min-height: 100vh;
    background-color: rgba(0, 0,0, 0.7);
}


.header .navbar {
    width: 90%;
    margin: auto;
}
.header .logo {

    float: left;
    color: white;
    font-size: 38px;
}

.header .nav {

    float: right;
}
.header .nav li {
    display: inline-block;
    padding: 0 20px;
}
.header .nav ul a {
text-decoration: none;
color: white;
}

.header .main-title{
    text-align: center;
    padding: 20vh 0;
    color: white;
}

.header .main-title h1 {
    font-size: 74px;
    margin: 0;
}
.header .main-title p {
    font-size: 25px;
    margin: 10px;
}

.header .main-title .btn {
    padding: 15px 28px;
    border-radius: 50px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    border: 2px solid  transparent;
    font-size: 16px;
}

.header .main-title .btn2 {
    color: white;
    background-color: #0461D5;
    margin-left: 10px;
    }

    /* Section 1 */
    .section-1 {

        margin: 90px 0;
    }
    .section-1 .container {
        width: 90%;
        margin: auto;
    }
    .section-1 .s1-left {

        width: 48%;
        display: inline-block;
        margin-right: 25px;
       
    }
    .section-1 .s1-left img {
        width: 100%;
        display: block;
    }

    .section-1 .s1-right {

        width: 48%;
        display: inline-block;
        vertical-align: top;
    }
    .section-1 .s1-right .title {
        margin-bottom: 40px;
    }
    
    /* Section 2 */
    .section-2 {
        background-color:  rgba(0, 0, 0, 0.1);
    }
    .section-2 .container {
        width: 90%;
        margin: auto;

    }
    .section-2 .s2-left{

        width: 48%;
        display: inline-block;
        vertical-align: top;
        margin-right: 25px;
    }
    
    .section-2 .s2-right {

        width: 48%;
        display: inline-block;
    }

    .section-2 .s2-right img {
        width: 100%;
        display: block;
    }
    /* Section 3 */
    .section-3 {
        margin: 90px 0;
    }
    .section-3 .container {
        margin: auto;
        width: 90%;
    }
    .section-3 .main-title {
        text-align: center;
    }

    .section-3 .services .service img {
        width: 100%;
    }
    .section-3 .services .service {
        width: 33.333333%;
        float: left;
        text-align: center;
    }
    .section-3 .services .service .container {
        padding: 0 20px;
    }
    /* Section 4 */
.section-4 {
    background-color:  rgba(0, 0, 0, 0.1);
}

.section-4 .container {
    width: 90%;
    margin: auto;
}
.section-4 .s4-left {

    width: 48%;
    float: left;
    margin-right: 25px;
}
.section-4 .s4-right {

    width: 48%;
    float: left;
}
/* Footer */
.footer {
    background-image: url(../imgs/footer/footer.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.footer .container{
    background-color: rgb(255, 255, 255,.7);
padding: 0 20px;
}
.footer .section{
    float: left;
    width: 25%;
}

.footer .section p{
    margin: 0;
}
.footer .section ul {
    padding-left: 5px;

}
.footer .section li{
    padding: 10px 0;
}
.credits {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
}
.credits a {
    color: #4da8da;
    text-decoration: none;
    font-weight: bold;
}

.credits a:hover {
    color: #1e90ff;

}